.main-spacing {
  padding-inline: 15%;
}

.upcoming-box {
  padding-bottom: 100px;
}
.upcoming-box h2 {
  font-size: 8rem;
}
.upcoming-box p {
  font-size: 2.5rem;
}
.upcoming-img-box img {
  height: 350px;
}

.events-closed {
  font-size: 6rem;
  padding-bottom: 40px;
}
